In [9]:
#Reading a CSV File
import pandas as pd

df = pd.read_csv('Z:\DMBD lab\data1.csv')

print(df.to_string())

   Duration  Average_Pulse  Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0        30             80        120              240          10            7
1        45             85        120              250          10            7
2        45             90        130              260           8            7
3        60             95        130              270           8            7
4        60            100        140              280           0            7

In [11]:
#Reading Specific Rows
import csv

with open('Z:\DMBD lab\data1.csv') as csv_file:
    csv_reader = csv.reader(csv_file)
    rows = list(csv_reader)

    print(rows[3])
    print(rows[2])

['45', '90', '130', '260', '8', '7']
['45', '85', '120', '250', '10', '7']

In [12]:
#Reading Specific Cols
import csv

with open('Z:\DMBD lab\data1.csv') as csv_file:
    csv_reader = csv.reader(csv_file)
    cols = list(csv_reader)
   
    print(cols[1])
    print(cols[2])

['30', '80', '120', '240', '10', '7']
['45', '85', '120', '250', '10', '7']

In [13]:
#Reading Specific Rows and cols
import csv

with open('Z:\DMBD lab\data1.csv') as csv_file:
    csv_reader = csv.reader(csv_file)
    rows = list(csv_reader)

    print(rows[3])
    print(rows[2])
    print(cols[1])
    print(cols[2])

['45', '90', '130', '260', '8', '7']
['45', '85', '120', '250', '10', '7']
['30', '80', '120', '240', '10', '7']
['45', '85', '120', '250', '10', '7']

In [13]:
#Reading Specific Columns for a Range of Rows

In [14]:
#Identify the missing data
import pandas as pd

df = pd.read_csv('Z:\DMBD lab\data1.csv')
df.isnull()

,Duration,Average_Pulse,Max_Pulse,Calorie_Burnage,Hours_Work,Hours_Sleep
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False

In [22]:
#Identify the outlier data
import csv
df = pd.read_csv('Items.csv')
cols = ['col_1', 'col_2'] 

Q1 = df[cols].quantile(0.25)
Q3 = df[cols].quantile(0.75)
IQR = Q3 - Q1

df = df[~((df[cols] < (Q1 - 1.5 * IQR)) |(df[cols] > (Q3 + 1.5 * IQR))).any(axis=1)]

KeyError: "None of [Index(['col_1', 'col_2'], dtype='object')] are in the [columns]"

In [16]:
#Replace with mean or mode
import csv
df = pd.read_csv('Z:\DMBD lab\data1.csv')

df.dropna(inplace = True)

print(df.to_string())

   Duration  Average_Pulse  Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0        30             80        120              240          10            7
1        45             85        120              250          10            7
2        45             90        130              260           8            7
3        60             95        130              270           8            7
4        60            100        140              280           0            7

In [17]:
#Data types
import csv
df = pd.read_csv('Z:\DMBD lab\data1.csv')
df.dtypes

Duration           int64
Average_Pulse      int64
Max_Pulse          int64
Calorie_Burnage    int64
Hours_Work         int64
Hours_Sleep        int64
dtype: object

In [18]:
#Analyze the data
df.head()

,Duration,Average_Pulse,Max_Pulse,Calorie_Burnage,Hours_Work,Hours_Sleep
0,30,80,120,240,10,7
1,45,85,120,250,10,7
2,45,90,130,260,8,7
3,60,95,130,270,8,7
4,60,100,140,280,0,7

In [23]:
#Find correlation among all attributes
import csv
df = pd.read_csv('Z:\DMBD lab\data1.csv')
print(df.corr())

                 Duration  Average_Pulse  Max_Pulse  Calorie_Burnage  \
Duration         1.000000       0.944911   0.785714         0.944911
Average_Pulse    0.944911       1.000000   0.944911         1.000000
Max_Pulse        0.785714       0.944911   1.000000         0.944911
Calorie_Burnage  0.944911       1.000000   0.944911         1.000000
Hours_Work      -0.662849      -0.838742  -0.922225        -0.838742
Hours_Sleep           NaN            NaN        NaN              NaN

                 Hours_Work  Hours_Sleep
Duration          -0.662849          NaN
Average_Pulse     -0.838742          NaN
Max_Pulse         -0.922225          NaN
Calorie_Burnage   -0.838742          NaN
Hours_Work         1.000000          NaN
Hours_Sleep             NaN          NaN

In [ ]:
abcdefghijklmnopqrstu